@using Microsoft.AspNetCore.Authorization
@using PtgExpressHub.Domain
@using PtgExpressHub.Web.Runtime

@page "/"

@inject IJSRuntime _jsRuntime
@inject IApplicationRepository _applicationRepository;
@inject AuthService _authService;
@inject NavigationManager _navigationManager;

@rendermode @(new InteractiveServerRenderMode(prerender: true))

<PageTitle>Home</PageTitle>

<div class="main-container">
    @if (ComportApplications != null && ComportApplications.Count > 0)
    {
        @foreach (var comportApplication in ComportApplications)
        {
            <div class="app-card">
                <p class="card-title">@comportApplication.ApplicationBuildProductionName</p>
                <div class="version-block card-data-section">
                    <p>Последняя версия: </p>
                    <p>@comportApplication.ApplicationBuildVersions!.OrderByDescending(x => x.UploadDate).FirstOrDefault()!.Version</p>
                </div>
                <div class="data-block card-data-section">
                    <p>Последнее обновление: </p>
                    <p>@comportApplication.ApplicationBuildVersions!.OrderByDescending(x => x.UploadDate).FirstOrDefault()!.UploadDate.ToString("dd/MM/yyyy")</p>
                </div>
                <div class="download-section">
                    <button class="btn-download" @onclick="async () => await DownloadFile(comportApplication)">Скачать указанную версию</button>
                    <div class="select-container">
                        <select class="form-select" @onchange="(e) => OnSelectChanged(comportApplication, e)">
                            @foreach (var version in comportApplication.ApplicationBuildVersions!.OrderByDescending(x => x.UploadDate))
                            {
                                <option value="@version.ApplicationVersionId">
                                    @version.Version
                                </option>
                            }
                        </select>
                    </div>                    
                </div>
            </div>
        }
    }    
</div>
